<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Alpinestars</title>
  <link rel="stylesheet" href="header.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <!-- HEADER -->
  <header class="header">


    <div class="nav-bar">
      <div class="nav-left">
        <img src="/logo.png" alt="Logo" class="logo">
      </div>

      <nav class="nav-center">

        <ul>
          <a routerLink="/" routerLinkActive="active">Inicio</a>
          <li><a routerLink="/motorcycling" routerLinkActive="active">Motorcycling</a></li>
          <li><a routerLink="/mx" routerLinkActive="active">MX</a></li>
          <li><a routerLink="/auto" routerLinkActive="active">Auto</a></li>
          <li><a routerLink="/mtb" routerLinkActive="active">MTB</a></li>
          <li><a routerLink="/sportswear" routerLinkActive="active">Sportswear</a></li>
          <li><a routerLink="/tech-air" routerLinkActive="active">Tech-Air®</a></li>
          <li><a routerLink="/outlet" routerLinkActive="active">Outlet</a></li>
        </ul>
      </nav>

      <div class="nav-right">
        <ul>
          <li><a routerLink="/help" routerLinkActive="active">Ayuda</a></li>
          <li><a routerLink="/account" routerLinkActive="active">Cuenta</a></li>
          <li><a routerLink="/membership" routerLinkActive="active">Membresia</a></li>
        </ul>
      </div>
    </div>
    <div class="top-bar">
      <span>Envio gratis apartir de 299.999mil+</span>
    </div>


  </header>



  <script>
    const slides = document.querySelectorAll('.slide');
    let current = 0;

    setInterval(() => {
      slides[current].classList.remove('active');
      current = (current + 1) % slides.length;
      slides[current].classList.add('active');
    }, 5000);
  </script>

</body>

</html>