* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* TOP BAR */
.top-bar {
  background: #f5f5f5;
  color: #000;
  text-align: center;
  font-size: 13px;
  padding: 6px 0;
}

/* NAV BAR */
.nav-bar {
  background: #111;
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 64px;
}

.logo {
  height: 32px;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  
}

.nav-center a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.nav-right {
  display: flex;
  align-items: center;
  
  font-size: 13px;
}

.nav-right a {
  color: #fff;
  text-decoration: none;
}

.icon {
  cursor: pointer;
}



.nav-center ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 22px;
}

.nav-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 22px;
}


.logo {
  height: 32px;
  width: auto;
  object-fit: contain;
  display: block;
}